@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 800px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-clip {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio:16/9){
  .background-clip{
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio:16/9){
  .background-clip{
      width: auto;
      height: 100%;
  }
}

body {
  display: flex;
  align-items: center;
  min-height: 108vh;
  font-size: medium;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogout {
  width: 100px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: .5s;
}
.reviews-container{
  position: absolute;
  top:50px;
  width: 50%;
  height: flex;
  text-align: center;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 170;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: black;
}

.content {
  position: relative;
  left: -240px;
  top: 100px;
  width: 50%;
  height: flex;
  text-align: center;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 170;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: black;
  background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0.51) 0%);
}

.chac_table {
  width: 100%;
  border-radius: 3px;
  margin: auto;
  padding: 0px;
}

.linkposition {
  position: absolute;
  width: 250px;
  height: 100px;
  left: 70%;
  top: 120px;
  font-size: 12px;
  display: inline-block;
  background: linear-gradient(180deg, #d9d9d9e7 0%, rgba(167, 212, 227, 0.56) 0%);
  font-family: 'Noto+Serif+KR', sans-serif;
}

img {
  width: 100%;
}

.my_img {
  display: none;
}

.my_text:hover+.my_img {
  display: block;
}

.my1_img {
  display: none;
}

.my1_text:hover+.my1_img {
  display: block;
}

.showpicture {
  position: absolute;
  width: 250px;
  height: flex;
  left: 70%;
  top: 300px;
  background-color: white;
}


.contitle {
  position: absolute;
  width: 60%;
  height: 60px;
  left: 0px;
  top: 140px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 55px;
  text-transform: uppercase;
  color: white;

}


thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
}

th {
  padding: .5em;
  vertical-align: middle;
}

td {
  font-weight: bold;
}

h3 {
  color: black;
  text-align: center;
  font-family: 'Noto+Serif+KR', sans-serif;
}

.panel-container {
  border: 0px;
  margin-bottom: -10px;
}

.panel-title {
  /*font-weight:bold;*/
  color: #00EAEA;
  cursor: pointer;
}

.panel-answer {
  /*padding:15px;
   display:none;*/
  height: 0px;
  width: 100%;
  overflow: hidden;
  transition: all .35s;
  display: block;
  margin: 0 auto;
}

#btn-all-close {
  margin-bottom: 0px;
  background-color: #726996;
  font-size: 22px;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  float: right;
}

#btn-all-close:hover {
  background-color: yellow;
  color: #000;
  transition: all.35s;
}

.active {
  display: flex;
  text-align: center;
  height: 100px;
  width: 200px;
}