@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  
}

body {
    font-family: 돋움, Dotum, sans-serif;
    font-size: medium;
    position: relative;

    background: linear-gradient(303.19deg,rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 61.15%), 
    linear-gradient(107.71deg, #5E69C8 9.62%, rgba(215, 13, 86, 0.46) 85.4%), 
    linear-gradient(89.52deg, #5E69C8 10.57%, rgba(243, 122, 122, 0.46) 99.88%);
    
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 120vh;
}

  .champion{ 
    position: absolute;
    left: 50px;
    top: 45px;
    width: 15%;
 
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 30px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
  }
  .wrapper {
    width: 100%;
    height: 100%;
  }

  .banner-image {
    background-image: url(https://images.unsplash.com/photo-1641326201918-3cafc641038e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
  }


  .container_2{ 
    position: relative;
    width: 90%;
 
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 5px 5px 5px 5px;  
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
  }

  .wrapper2 {
    width: 100%;
    height: 100%;
  }
  
  .banner-image2 {
    background-image: url(https://images.unsplash.com/photo-1641326201918-3cafc641038e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-position: center;
    background-size: cover;
    height: 120px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255, 0.255)
  }
  
  h1{
    font-family: 'Righteous', sans-serif;
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 1.4rem;
  }
  
  p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .button-wrapper{
    margin-top: 18px;
  }
  .button-wrapper2{
    margin-top: 1px;
  }
  
  .btn2 {
    border: none;
    padding: 6px 12px;
    border-radius: 22px;
    font-size: 0.4rem;  
    letter-spacing: 0px;  
    cursor: pointer;
  }

  .btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 22px;
    font-size: 0.8rem;  
    letter-spacing: 2px;  
    cursor: pointer;
  }
  
  .btn + .btn {
    margin-left: 10px;
  }
  
  .outline {
    background: transparent;
    color: rgba(0, 212, 255, 0.9);
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all .3s ease;
  }
  
  .outline:hover{
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;  
  }
  
  .fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255,255,255,0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease; 
  }
  
  .fill:hover{
    transform: scale(1.125);  
    border-color: rgba(175, 128, 128, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;    
  }



.box2{
position: absolute;
left: 500px;
top: 40px;
}

.box3{
    position: absolute;
    left: 650px;
    top: 40px;
}
   
.box4{
position: absolute;
left: 430px;
top: 300px;
}

.box5{
    position: absolute;
    left: 560px;
    top: 300px;
}
.box6{
    position: absolute;
    left: 690px;
    top: 300px;
 }
.box7{
    position: absolute;
    left: 370px;
    top: 500px;
 }
.box8{
    position: absolute;
    left: 500px;
    top: 500px;
  }

.box9{
position: absolute;
left: 630px;
top: 500px;

  }
.box10{
position: absolute;
left: 760px;
top: 500px;
 }
.under10th{
  position: absolute;
  left: 1000px;
  top: 50px;

  height: 650px;
  width: 10%;
 
  text-align: center;
  font-family: 'Inter';
  font-style: italic;
  
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  
  }
  
.opener{
position: absolute;
width: 346px;
height: 68px;
left: 1472px;
top: 900px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.22) 17.71%, rgba(0, 0, 0, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}