@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    font-family: 돋움, Dotum, sans-serif;
    font-size: medium;
    position: relative;
    background: linear-gradient(303.19deg, 
    rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 61.15%), 
    linear-gradient(107.71deg, #5E69C8 9.62%, rgba(215, 13, 86, 0.46) 85.4%), 
    linear-gradient(89.52deg, #5E69C8 10.57%, rgba(243, 122, 122, 0.46) 99.88%);
    background-size: cover;
    background-position: center;  
    
    display: flex;
    align-items: center;
      
}

<<<<<<< Updated upstream
  .container { 
    position: relative;
    left: 100px;
    top: 250px;
    width: 10%;
=======

  .champion{ 
    position: absolute;
    left: 50px;
    top: 70px;
    height: 600px;
    width: 400px;
>>>>>>> Stashed changes
 
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
<<<<<<< Updated upstream
    padding: 38px;  
=======
    padding: 20px 0 0 0 ;  
>>>>>>> Stashed changes
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
  }

  .container_2{ 
    position: relative;
    width: 60%;
 
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 5px 5px 5px 5px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
  }

  .wrapper {
    width: 100%;
    height: 100%;

  }
  .wrapper2 {
    width: 100%;
    height: 100%;
  }
  
  .banner-image {
    background-image: url(https://images.unsplash.com/photo-1641326201918-3cafc641038e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-position: center;
    background-size: cover;
    margin-left: 15px;
    height: 300px;
    width: 90%;
    border-radius: 12px;
    border: 3px solid rgba(255,255,255, 0.255)
  }
<<<<<<< Updated upstream

=======
  .from2to10 {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 60%;
    background-color: aquamarine;
    }

  .container_2{ 
    position: relative;
    width: 90%;
 
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 5px 5px 5px 5px;  
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
  }

  .wrapper2 {
    width: 100%;
    height: 100%;
  }
  
>>>>>>> Stashed changes
  .banner-image2 {
    background-image: url(https://images.unsplash.com/photo-1641326201918-3cafc641038e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-position: center;
    background-size: cover;
    height: 50px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255, 0.255)
  }
  
  h1{
    font-family: 'Righteous', sans-serif;
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 2.4rem;
  }
  
  p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .button-wrapper{
    margin-top: 18px;
  }
  
  .btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 22px;
    font-size: 0.8rem;  
    letter-spacing: 2px;  
    cursor: pointer;
  }
  
  .btn + .btn {
    margin-left: 10px;
  }
  
  .outline {
    background: transparent;
    color: rgba(0, 212, 255, 0.9);
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all .3s ease;
  }
  
  .outline:hover{
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;  
  }
  
  .fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255,255,255,0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease; 
  }
  
  .fill:hover{
    transform: scale(1.125);  
    border-color: rgba(175, 128, 128, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;    
  }


.under10th{
position: absolute;
width: 346px;
height: 743px;
left: 1472px;
top: 169px;
text-align: center;
font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;

backdrop-filter: blur(16px) saturate(180%);
-webkit-backdrop-filter: blur(16px) saturate(180%);
background-color: rgba(17, 25, 40, 0.25);


}
  


.box2{
position: absolute;
<<<<<<< Updated upstream
left: 839px;
top: 205px;
=======
left: 500px;
>>>>>>> Stashed changes
}

.box3{
    position: absolute;
<<<<<<< Updated upstream
    left: 1089px;
    top: 205px;
=======
    left: 650px;
>>>>>>> Stashed changes
}
   
.box4{
position: absolute;
<<<<<<< Updated upstream
left: 771px;
top: 453px;
=======
left: 430px;
top: 250px;
>>>>>>> Stashed changes
}

.box5{
    position: absolute;
    left: 989px;
    top: 453px;
}
.box6{
    position: absolute;
    left: 1181px;
    top: 453px;
}
.box7{
    position: absolute;
    left: 680px;
    top: 679px;
}
.box8{
    position: absolute;
    left: 887px;
    top: 679px;
    }

.box9{
position: absolute;
left: 1085px;
top: 679px;

    }

.box10{
position: absolute;
<<<<<<< Updated upstream
left: 1293px;
top: 679px;
=======
left: 760px;
top: 500px;
 }
.under10th{
  position: absolute;
  top: 50px;
  left: 1450px;

  height: 650px;
  width: 20%;
 
  text-align: center;
  font-family: 'Inter';
  font-style: italic;
  
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  
  }
.rank-opener{
  position: absolute;
  left: 1450px;
  top: 750px;
  height: 50px;
  width: 10%;

  text-align: center;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 90;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(185, 142, 202, 0.25);
>>>>>>> Stashed changes
}

.opener{
position: absolute;
width: 346px;
height: 68px;
left: 1472px;
top: 900px;

font-family: 'Inter';
font-style: italic;
font-weight: 600;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.22) 17.71%, rgba(0, 0, 0, 0) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}